<launch>

   <!-- HTC Vive Transformation -->
   <!--static_transform_publisher x y z qx qy qz qw frame_id child_frame_id  period_in_ms -->
    <node pkg="tf"
          type="static_transform_publisher"
          name="htcvive"
          args="
         0.999400268770331
        -0.045943572920454
        -1.120943081237594
        -0.039906861078208 
         0.098012931362103 
         0.855630485747525 
         0.506653115636475 

        iri_wam_link_base 
        chaperone 300" >
    </node>

   
</launch>
