<launch>
       <!-- Initialize htc vive and publish transformation -->
    <arg name="device" default="tracker_1"/>
	<include file="$(find iri_htc_vive_tracker)/launch/publish_wam_chaperone_link.launch">
	    <!-- Initialize tf-to-pose node from chaperone to tracker1-->
    	<arg name="target_frame" value ="$(arg device)"/>
	</include>
    

   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find iri_htc_vive_tracker)/params/ekf_htcvive.yaml" />
   </node>

</launch>
